<%- include("partials/header"); -%>

<div class="container">
    <div class="row">
    <h1 class="home-h1">Popular</h1>
    <nav class="nav navbar-nav navbar-right">
        <li><a href="/entertainment">Entertainment</a></li>
        <li><a href="/politics">Politics</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/coronavirus">Coronavirus</a></li>
        
    </nav>
</div>
    <% aboutContent.map(function(e){ %> 
        <hr>
        <h1 style="margin-top: 50px;"><%= e.title %></h1>
        <div class="row">
            <div class="col-lg-4">
        <img  style="border-radius: 20px;"  src="<%=e.urlToImage %>"   >
        </div>
        <div class="col-lg-8"> 
        <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;"> <%= e.description %></h3>
        <button class="btn btn-color"><a href="<%=e.url %>" style="text-decoration: none;color:white">More</a></button>
    </div>
    </div>
   <%})  %>  
    
</div>
<%- include("partials/footer"); -%>




