<%- include("partials/header"); -%>

<div class="container">
    <% post.map((e)=>{%>
        <hr>
        <h1 style="margin-top: 50px;"><%= e.title %></h1>
        <div class="row">
            <div class="col-lg-4">
        <img  style="border-radius: 20px;height:300px"  src="<%=e.img%>"  >
        </div>
        <div class="col-lg-8"> 
            <p>By  <%=e.author %>  </p>          
        
        <a href="/showblog/<%=e._id %> ">Read More</a></h3>

    </div>
    </div>
           

   <% }) %> 
</div>
<%- include("partials/footer"); -%>